@charset "utf-8";

html {
  font-size: 100%;
}
body {
  padding: 0 10px;
}
a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  opacity: 0.5;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
/* -------------------------------
全体
-------------------------------------*/
section {
  margin-bottom: 60px;
  padding: 30px 0;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
/* --------------------------------
header
-----------------------------------*/
#header {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
#navi {
  background-color: #fff;
  position: fixed;
  max-width: 800px;
  width: 100%;
  z-index: 10;
}
#navi ul {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
#navi ul li a {
  display: block;
  padding: 5px 20px;
  position: relative;
}
#navi .active::after {
  content:"";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 5px;
  left: 0;
}
/* --------------------------------
main
----------------------------------- */
#main {
  max-width: 800px;
  margin: 0 auto;
}
/* ----------------------------------
mainvisual
-------------------------------------*/
.mainvisual {
  position: relative;
  height: 100vh;
}
h1 {
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.slide-in {
  overflow: hidden;
  display: block;
}
.slide-in_inner {
	display: block;
  opacity: 0;
}
.delay-time1 {
  animation-delay: 1s;
}
.delay-time2 {
  animation-delay: 2s;
}
.slideAnimeLeftRight {
  animation-name: slideTextX100;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slideAnimeRightLeft {
  animation-name: slideTextX-100;
  animation-duration: 1s;
	animation-fill-mode:forwards;
}
@keyframes slideTextX-100 {
  from {
	transform: translateX(100%);
  opacity: 0;
  }
  to {
	transform: translateX(0);
  opacity: 1;
  }
}
/* --------------------------------
profile
------------------------------------*/
#profile dl {
  display: flex;
  flex-wrap: wrap;
}
#profile dt {
  width: 20%;
}
#profile dd {
  width: 80%;
}
/* ---------------------------------
career
-------------------------------------*/
#career strong {
  display: block;
}
#career .timeline {
  margin-left: 20px;
}
#career .timeline li {
  margin: 20px;
  position: relative;
}
#career .timeline li::before {
  content:'';
	position: absolute;
	top: 6px;
	left: -20px;
	width: 10px;
	height: 10px;
	background: #888;
	border-radius: 50%;
}
#career .border-line {
  position: absolute;
  top: 16px;
  left: -16px;
  width: 2px;
  height: 0;
  background-color: #000;
}
/* ---------------------------------
skill
-----------------------------------*/
#skill dl {
  display: flex;
  flex-wrap: wrap;
}
#skill dt {
  width: 20%;
}
#skill dd {
  width: 80%;
}
#skill .learning-site, #skill .book {
  color: #888;
  text-decoration: underline;
}
/* ----------------------------------
works
------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#works > ul > li {
  width: 49%;
  margin-bottom: 30px;
}
#works .memo {
  display: flex;
  flex-wrap: wrap;
}
#works dt {
  width: 25%;
}
#works dd {
  width: 75%;
}
#works .point {
  width: 100%;
}
#works .point {
  width: 100%;
}
/* ----------------------------------
contact
-------------------------------------*/
#contact {
  text-align: center;
}
#contact a {
  display: inline-block;
  color: #888;
  text-decoration: underline;
}
.fa-twitter {
  font-size: 50px;
  color: #00acee;
}
/* -----------------------------------
footer
-------------------------------------*/
#footer {
  text-align: center;
}
/* ---------------------------------
sp
------------------------------------*/
@media screen and (max-width: 700px) {
  /* -------------------------------
  header
  ----------------------------------
  hamburger
  ----------------------------------*/
  .hamburger-area {
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .hamburger {
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: fixed;
    cursor: pointer;
    z-index: 20;
    transition: 0.5s;
  }
  .hamburger.open {
    background-color: rgba(0, 0, 0, 0);
  }
  .hamburger span {
    width: 20px;
    height: 4px;
    background-color: #000;
    display: block;
    position: absolute;
    left: 5px;
    transition: 0.5s;
  }
  .hamburger.open span {
    background-color: #fff;
  }
  .hamburger span:nth-child(1) {
    top: 5px;
  }
  .hamburger span:nth-child(2) {
    top: 13px;
  }
  .hamburger span:nth-child(3) {
    bottom: 5px;
  }
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }
  /* ---------------------------------
  navi
  -------------------------------------*/
  #navi {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    z-index: -10;
    padding: 0 50px;
  }
  #navi.open {
    opacity: 0.9;
    z-index: 10;
  }
  #navi ul {
    margin: 50px 0;
    max-width: 800px;
    flex-direction: column;
  }
  #navi ul li {
    margin: 20px 0;
  }
  #navi ul li a {
    color: #fff;
    display: inline;
  }
  /* -------------------------------
  mainvisual
  ---------------------------------*/
  h1 {
    font-size: 4rem;
    left: 0;
  }
  /* -------------------------------
  skill
  ---------------------------------*/
  #skill dl {
    flex-direction: column;
  }
  #skill dt {
    width: 100%;
  }
  #skill dd {
    width: 100%;
  }
  /* ------------------------------
  works
  --------------------------------*/
  #works .work-list {
    flex-direction: column;
  }
  #works > ul > li {
    width: 100%;
  }
}
