@charset "utf-8";

html {
  font-size: 100%;
}
body {
  padding: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
/* -------------------------------- */
#works .flex-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#works .nordic-trip {
  width: 48%;
}
#works .media {
  width: 48%;
}
#works .gallery {
  width: 48%;
}
