@charset "utf-8";

html {
  font-size: 100%;
}
body {
  padding: 0 10px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
/* -------------------------------
全体
-------------------------------------*/
h1 {
  text-align: center;
  margin-bottom: 60px;
}
section {
  margin-bottom: 60px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
/* --------------------------------
header
-----------------------------------*/
#header {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
/* ---------------------------------
hamburger
----------------------------------*/
.hamburger-area {
  position: absolute;
  top: 10px;
  right: 30px;
}
.hamburger {
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: fixed;
  cursor: pointer;
  z-index: 20;
  transition: 0.5s;
}
.hamburger.open {
  background-color: rgba(0, 0, 0, 0);
}
.hamburger span {
  width: 20px;
  height: 4px;
  background-color: #000;
  display: block;
  position: absolute;
  left: 5px;
  transition: 0.5s;
}
.hamburger.open span {
  background-color: #fff;
}
.hamburger span:nth-child(1) {
  top: 5px;
}
.hamburger span:nth-child(2) {
  top: 13px;
}
.hamburger span:nth-child(3) {
  bottom: 5px;
}
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}
/* ---------------------------------
navi
-------------------------------------*/
#navi {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  z-index: -10;
  padding: 0 50px;
}
#navi.open {
  opacity: 0.9;
  z-index: 10;
}
#navi ul {
  margin: 50px auto;
  max-width: 800px;
}
#navi ul li {
  margin-bottom: 50px;
}
#navi ul li a {
  color: #fff;
}
/* --------------------------------
main
----------------------------------- */
#main {
  max-width: 800px;
  margin: 0 auto;
}
/* --------------------------------
profile
------------------------------------*/
#profile dl {
  display: flex;
  flex-wrap: wrap;
}
#profile dt {
  width: 20%;
}
#profile dd {
  width: 80%;
}
/* ---------------------------------
skill
-----------------------------------*/
#skill dl {
  display: flex;
  flex-wrap: wrap;
}
#skill dt {
  width: 20%;
}
#skill dd {
  width: 80%;
}
#skill .learning-site, #skill .book {
  color: #888;
  text-decoration: underline;
}
/* ----------------------------------
works
------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#works > ul > li {
  width: 49%;
  margin-bottom: 30px;
}
#works .memo {
  display: flex;
  flex-wrap: wrap;
}
#works dt {
  width: 25%;
}
#works dd {
  width: 75%;
}
#works .point {
  width: 100%;
}
#works .point {
  width: 100%;
}
/* ----------------------------------
contact
-------------------------------------*/
#contact {
  text-align: center;
}
#contact p {
  color: #888;
  text-decoration: underline;
}
.fa-twitter {
  font-size: 50px;
  color: #00acee;
}
/* -----------------------------------
footer
-------------------------------------*/
#footer {
  text-align: center;
}
/* ---------------------------------
sp
------------------------------------*/
@media screen and (max-width: 700px) {
  /* --------------------------
  header
  -----------------------------*/
  #header {
    text-align: left;
  }
  h1 span {
    display: block;
  }
  /* -------------------------------
  skill
  ---------------------------------*/
  #skill dl {
    flex-direction: column;
  }
  #skill dt {
    width: 100%;
  }
  #skill dd {
    width: 100%;
  }
  /* ------------------------------
  works
  --------------------------------*/
  #works .work-list {
    flex-direction: column;
  }
  #works > ul > li {
    width: 100%;
  }
}
